<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyUserCollection</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    

</head>
<body>
<header class="p-4 mb-4 border-bottom fs-4 text-black " style="color:darkgrey">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none fs-3" asp-area="" asp-controller="Collection" asp-action="Items">Catalog</a>
            <p> </p>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                @*<li>
                    <a class="nav-link px-2 link-dark" asp-area="" asp-controller="User" asp-action="Index">Home</a>
                </li>*@
                <li>
                    @if(User.Identity.IsAuthenticated){
                    <a class="nav-link px-2 link-dark" asp-area="" asp-controller="User" asp-action="AdminMenu">AdminMenu</a>
                    }
                </li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            @if (User.Identity.IsAuthenticated)
            {
        <form method="post" asp-controller="User" asp-action="UserProfile">
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <p>@User.Identity.Name</p>
                </a>

                <input name="name" , value="@User.Identity.Name" style="visibility: hidden" />
                <ul class="dropdown-menu text-start position-absolute top-100 start-100 translate-middle" aria-labelledby="dropdownUser1">
                    <li>
                        <input type="submit" name="button" value="Profile" class="btn btn-link text-dark" formaction="~/User/UserProfile">
                    </li>
                    <li>
                        <input type="submit" value="Sign out" class="btn btn-link text-dark" asp-controller="User" asp-action="Logout" />
                    </li>
                </ul>

            </div>
        </form>
        }
        else
        {
            <div class="col-md-3 text-end">
                <form>
                    <input type="submit" value="Login" class="btn btn-outline-primary me-2" asp-controller="User" asp-action="Login" />
                    <input type="submit" value="Sign-up" class="btn btn-primary" asp-controller="User" asp-action="Registration" />
                </form>
            </div>
        }
        </div>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - MyUserCollection - by Yuri Kireev
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
