@model ICollection<MyCollections.Models.Item>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<link href="~/css/ItemsPage.css" rel="stylesheet"/>
<h2>Catalog</h2>

<form method="post" asp-action="Items">
    <p>
        <input type="search" name="str" placeholder="Поиск по сайту">
        <input type="submit" value="Найти" formaction="~/Collection/Items">
    </p>
</form>

<div asp-controller="Collection">


    <table table table-borderless table-bordered>
        <thead class="text-dark">
        <tr>
            <th> </th><th> </th><th> </th><th> </th> <th> </th>
        </tr>
            </thead>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    image
                </td>
                <td>
                    @Html.DisplayFor(item => i.Tag)
                </td>
                <td>
                    <form method="post" asp-action="ItemProfile">
                        <p>
                            <input name="id" , value="@i.Id" style="visibility: hidden"/>
                            <input type="submit" name="button" value="@i.Name" class="btn btn-link text-dark" formaction="~/Collection/ItemProfile">
                        </p>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(item => i.Description)
                </td>
                <td>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @if (i.ItemLikes != null)
                        {
                            @foreach (var like in i.ItemLikes)
                            {
                                if (like.UserId == User.Identity.Name)
                                {
                                    <div method="post" asp-action="SetItemLike">
                                        <input id="toggle-heart" type="checkbox" name="usersId" value="@User.Identity.Name" class="chek" formaction="~/Collection/SetItemLike">
                                        <label for="toggle-heart" aria-label="like">❤</label>
                                    </div>
                                }
                                @Html.DisplayFor(item => i.ItemLikes.Count())
                            }
                        }
                        else
                        {
                            <div method="post" asp-action="SetItemLike">
                                <div align="center">
                                    <input id="toggle-heart" type="checkbox" name="usersId" value="" class="chek" formaction="~/Collection/SetItemLike">
                                    <label for="toggle-heart" aria-label="like">❤</label>
                                    <p>0</p>
                                </div>
                            </div>
                        }
                    }
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            @if (i.ItemLikes != null)
                            {

                                <p> @i.ItemLikes.Count() </p>
                            }
                        </div>
                    }
                </td>
            </tr>
        }

    </table>

</div>

<script>
    function CheckAll(className, elem) {
        var elements = document.getElementsByClassName(className);
        var l = elements.length;
        if (elem.checked) {
            for (var i = 0; i < l; i++) {
                elements[i].checked = true;
            }
        } else {
            for (var i = 0; i < l; i++) {
                elements[i].checked = false;
            }
        }
    }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>