@model MyCollections.ViewModels.ItemProfileViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/ItemsPage.css" rel="stylesheet"/>


<div class="fs-3">
    <ui>
        @* Картинка *@
        <li>@Model.item.Name</li>
        <li>@Model.item.Tag</li>
        <li>@Model.item.Description</li>
        @if (Model.item.ItemLikes != null)
        {
            <li>Лайки: @Model.item.ItemLikes.Count</li>
        }
    </ui>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
@if (User.Identity.IsAuthenticated)
{
    <form method="post">

        <div class="mb-3">
            <label for="com" class="form-label fs-4"> Ваш комментарий</label>
            <textarea class="form-control" name="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" name="userName" value="@User.Identity.Name" formaction="~/Collection/SetItemComment" onSubmit="window.location.reload()">Отправить</button>
        <input name="idItem" value="@Model.item.Id" style="visibility: hidden"/>
    </form>
}

<p></p>
<p></p>
<p></p>
<p></p>

<div class="widget widget-comments open" id="comments">
    <div class="block-title">Комментарии:</div>

    <ol class="list-group list-group-numbered">
        @if (Model.ItemComments != null)
        {
            <p style="visibility: hidden"> @Model.ItemComments.OrderByDescending(i => i.Id);</p>
            @foreach (var i in Model.ItemComments)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <form method="post" asp-action="UserProfile" asp-controller="User">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <input type="submit" name="button" value="@i.UserName" class="btn btn-link text-dark" formaction="~/User/UserProfile">
                                }
                                else
                                {
                                    <a class="text-dark">@i.UserName</a>
                                }
                            </form>
                            <a>@i.Date</a>
                            <p>----------------</p>
                        </div>
                        @i.Comment
                    </div>
                </li>
            }
        }
    </ol>
</div>