@model MyCollections.Models.Item
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/ItemsPage.css" rel="stylesheet" />
<h2>@Model.Name</h2>

<div asp-controller="Collection">

    <div>
        @*Картинка*@
        <p>@Model.Tag </p>
        <p>@Model.Description </p>

    </div>
    
    <div class="widget widget-comments open" id="comments">
        <div class="block-title">Комментарии</div>
        <ol class="comment-list">

            @if (Model.ItemComments != null)
            {
                @foreach (var i in Model.ItemComments)
                {
                    <li class="comment byuser comment-author-jah bypostauthor even thread-even depth-1" id="comment-91292">
                        <div id="div-comment-91292" class="comment-body">
                            <div class="comment-author vcard">
                                <p>@i.IdUser</p>
                            </div>
                            <div class="comment-meta commentmetadata">
                                @i.Date
                            </div>
                            <p>@i.Comment </p>
                        </div>
                    </li>
                }
            }
        </ol>
    </div>
</div>
