@using System.Collections
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model MyCollections.ViewModels.UserProfileViewModel;

@{

}


<link href="~/css/ItemsPage.css" rel="stylesheet"/>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<form id="rendered-form">

    <div class="rendered-form">
        <div class="formbuilder-textarea form-group field-textarea-1651927795264-0">
            <label for="textarea-1651927795264-0" class="formbuilder-textarea-label">

                @Model.User.UserName
            </label>
        </div>

    </div>
</form>


<text> Collection Tools: </text>

<form method="post">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdropCreate">
        Create
    </button>
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" onclick="Update('chek', this)">
        Update
    </button>
    @*<input class="" type="submit" name="submit" value="Update" formmethod="post" formaction="~/Collection/UpdateCollection" style="border-color: white" />*@
    <input class="btn btn-outline-danger" type="submit" name="submit" value="Delete" formmethod="post" formaction="~/Collection/DeleteCollection" style="border-color: white"/>
    <input name="userName" value="@Model.User.UserName" style="visibility: hidden"/>
    @if (Model.UserCollections != null)
    {
        <table class="table table-borderless table-bordered">
            <thead class="text-dark">
            <tr>
                <th>

                </th>

                <th>
                    
                </th>

                <th>
                    Name
                </th>
                <th>
                    Tag
                </th>
                <th>
                    Description
                </th>


            </tr>
            </thead>

            @foreach (var i in Model.UserCollections)
            {
                <tr>
                    <td>
                        <input type="radio" name="id" value="@i.Id" class="check">
                    </td>

                    <td>
                        <img src="@Url.Content(i.Image)" style="width: 150px; height: 200px;" alt=""/>
                    </td>
                    <td>
                        <form method="post">
                            <input type="submit" name="button" value="@i.Name" class="btn btn-link text-dark" formaction="~/Collection/CollectionItems">
                            <input name="IdUser" value="@Model.User.Id" style="visibility: hidden" />
                            <input name="IdCollection" value="@i.Id" style="visibility: hidden" />
                        </form>
                            
                    </td>
                    <td>
                        @Html.DisplayFor(mitem => i.Tag)
                    </td>

                    <td>
                        @Html.DisplayFor(mitem => i.Description)
                    </td>
                </tr>
            }
        </table>
    }
</form>


<!-- Modal -->

<div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Collection" asp-action="AddCollection" enctype="multipart/form-data" onSubmit="window.location.reload()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Загрузить изображение</label>
                        <input type="file" class="form-control" id="img" name="image">
                    </div>

                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Название коллекции</label>
                        <input type="text" class="form-control" id="IDname" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Tag</label>
                        <input type="text" class="form-control" id="IDtag" name="tag" required>
                    </div>
                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Description</label>
                        <input type="text" class="form-control" id="IDdes" name="description">
                    </div>

                </div>
                <div class="modal-footer">

                </div>
                <input name="idUser" value="@Model.User.Id" style="visibility: hidden"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Create" formaction="~/Collection/AddCollection">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdropUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Collection" asp-action="UpdateCollection" enctype="multipart/form-data" onSubmit="window.location.reload()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Загрузить изображение</label>
                        <input type="file" class="form-control" id="img" name="image">
                    </div>

                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Название коллекции</label>
                        <input type="text" class="form-control" id="IDname" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Tag</label>
                        <input type="text" class="form-control" id="IDtag" name="tag" required>
                    </div>
                    <div class="mb-3">
                        <label for="rendered-form" class="form-label">Description</label>
                        <input type="text" class="form-control" id="IDdes" name="description">
                    </div>

                </div>
                <div class="modal-footer">

                </div>
                <input name="idUser" value="@Model.User.Id" style="visibility: hidden"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Create" formaction="~/Collection/AddCollection">
            </form>
        </div>
    </div>
</div>

<script>
    function Update(className, elem) {
        var elements = document.getElementsByClassName(className);

        if (elem.checked) {
            for (var i = 0; i < elements.length; i++) {
                elements[i].checked = true;
            }
        } else {
            for (var i = 0; i < elements.length; i++) {
                elements[i].checked = false;
            }
        }
    }
</script>